*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: #223;
}

.box{
    width: 150px;
    height: 150px;
    background: rgba(221, 207, 221, 0.87);
    border: 2px solid #ffe;
    border-radius: 4px;
    position: fixed;
    cursor: pointer;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 50px;
}

.dropzone{
    width: 450px;
    height: 50px;
    background-color: aliceblue;
    display: grid;
    place-items: center;
}
#draggable{
    width: 60%;
    background: rgb(216, 53, 216);
    color: #fff;
    padding: 0.35rem;
    text-align: center;
}